body {
    margin: 0;
}

h1 {
    background-color: #281B2D;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    color: #FFF;
    padding: 25px 0;
}

.section-heading {
    font-size: 48px;
    background-color: #281B2D;
    color: #FCD801;
    padding: 20px;
    border-bottom: 5px solid #00C54C;
}

.span {
    color: white;
    text-align: center;
}

.container {
    width: 1000px;
}