body {
    margin: 0;
}

h1 {
    background-color: #281B2D;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    color: #FFF;
    padding: 25px 0;
}

a {
    color: #281B2D;
}

a:hover {
    color: #9138B7;
}

ol li {
    line-height: 30px;
}

.section-heading {
    font-size: 48px;
    background-color: #281B2D;
    color: #FCD801;
    padding: 20px;
    border-bottom: 5px solid #00C54C;
    margin-top: 0;
}

.span {
    color: white;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.columns {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #9ae84f;
    padding: 15px;
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.col-right {
    margin-left: 25px;
}

.source{
    font-size: 12px;
}
